html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
article,
aside,
footer,
header,
nav,
section{display:block;}
h1{font-size:2em;margin:0.67em 0;}
figcaption,
figure,
main{display:block;}
figure{margin:1em 40px;}
hr{box-sizing:content-box;height:0;overflow:visible;}
pre{font-family:monospace, monospace;font-size:1em;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}
b,
strong{font-weight:inherit;}
b,
strong{font-weight:bolder;}
code,
kbd,
samp{font-family:monospace, monospace;font-size:1em;}
dfn{font-style:italic;}
mark{background-color:#ff0;color:#000;}
small{font-size:80%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
audio,
video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
img{border-style:none;}
svg:not(:root){overflow:hidden;}
button,
input,
optgroup,
select,
textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0;}
button,
input{overflow:visible;}
button,
select{text-transform:none;}
button,
html [type="button"],
[type="reset"],
[type="submit"]{-webkit-appearance:button;}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}
fieldset{padding:0.35em 0.75em 0.625em;}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}
progress{display:inline-block;vertical-align:baseline;}
textarea{overflow:auto;}
[type="checkbox"],
[type="radio"]{box-sizing:border-box;padding:0;}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{height:auto;}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
details,
menu{display:block;}
summary{display:list-item;}
canvas{display:inline-block;}
template{display:none;}
[hidden]{display:none;}
html{height:100%;}
fieldset{margin:0;padding:0;-webkit-margin-start:0;-webkit-margin-end:0;-webkit-padding-before:0;-webkit-padding-start:0;-webkit-padding-end:0;-webkit-padding-after:0;border:0;}
legend{margin:0;padding:0;display:block;-webkit-padding-start:0;-webkit-padding-end:0;}
.choices{position:relative;margin-bottom:24px;font-size:16px;}
.choices:focus{outline:none;}
.choices:last-child{margin-bottom:0;}
.choices.is-disabled .choices__inner, .choices.is-disabled .choices__input{background-color:#EAEAEA;cursor:not-allowed;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.choices.is-disabled .choices__item{cursor:not-allowed;}
.choices[data-type*="select-one"]{cursor:pointer;}
.choices[data-type*="select-one"] .choices__inner{padding-bottom:7.5px;}
.choices[data-type*="select-one"] .choices__input{display:block;width:100%;padding:10px;border-bottom:1px solid #DDDDDD;background-color:#FFFFFF;margin:0;}
.choices[data-type*="select-one"] .choices__button{background-image:url("../../icons/cross-inverse.svg");padding:0;background-size:8px;height:100%;position:absolute;top:50%;right:0;margin-top:-10px;margin-right:25px;height:20px;width:20px;border-radius:10em;opacity:.5;}
.choices[data-type*="select-one"] .choices__button:hover, .choices[data-type*="select-one"] .choices__button:focus{opacity:1;}
.choices[data-type*="select-one"] .choices__button:focus{box-shadow:0px 0px 0px 2px #00BCD4;}
.choices[data-type*="select-one"]:after{content:"";height:0;width:0;border-style:solid;border-color:#333333 transparent transparent transparent;border-width:5px;position:absolute;right:11.5px;top:50%;margin-top:-2.5px;pointer-events:none;}
.choices[data-type*="select-one"].is-open:after{border-color:transparent transparent #333333 transparent;margin-top:-7.5px;}
.choices[data-type*="select-one"][dir="rtl"]:after{left:11.5px;right:auto;}
.choices[data-type*="select-one"][dir="rtl"] .choices__button{right:auto;left:0;margin-left:25px;margin-right:0;}
.choices[data-type*="select-multiple"] .choices__inner, .choices[data-type*="text"] .choices__inner{cursor:text;}
.choices[data-type*="select-multiple"] .choices__button, .choices[data-type*="text"] .choices__button{position:relative;display:inline-block;margin-top:0;margin-right:-4px;margin-bottom:0;margin-left:8px;padding-left:16px;border-left:1px solid #008fa1;background-image:url("../../icons/cross.svg");background-size:8px;width:8px;line-height:1;opacity:.75;}
.choices[data-type*="select-multiple"] .choices__button:hover, .choices[data-type*="select-multiple"] .choices__button:focus, .choices[data-type*="text"] .choices__button:hover, .choices[data-type*="text"] .choices__button:focus{opacity:1;}
.choices__inner{display:inline-block;vertical-align:top;width:100%;background-color:#f9f9f9;padding:7.5px 7.5px 3.75px;border:1px solid #DDDDDD;border-radius:2.5px;font-size:14px;min-height:44px;overflow:hidden;}
.is-focused .choices__inner, .is-open .choices__inner{border-color:#b7b7b7;}
.is-open .choices__inner{border-radius:2.5px 2.5px 0 0;}
.is-flipped.is-open .choices__inner{border-radius:0 0 2.5px 2.5px;}
.choices__list{margin:0;padding-left:0;list-style:none;}
.choices__list--single{display:inline-block;padding:4px 16px 4px 4px;width:100%;}
[dir="rtl"] .choices__list--single{padding-right:4px;padding-left:16px;}
.choices__list--single .choices__item{width:100%;}
.choices__list--multiple{display:inline;}
.choices__list--multiple .choices__item{display:inline-block;vertical-align:middle;border-radius:20px;padding:4px 10px;font-size:12px;font-weight:500;margin-right:3.75px;margin-bottom:3.75px;background-color:#00BCD4;border:1px solid #00a5bb;color:#FFFFFF;word-break:break-all;}
.choices__list--multiple .choices__item[data-deletable]{padding-right:5px;}
[dir="rtl"] .choices__list--multiple .choices__item{margin-right:0;margin-left:3.75px;}
.choices__list--multiple .choices__item.is-highlighted{background-color:#00a5bb;border:1px solid #008fa1;}
.is-disabled .choices__list--multiple .choices__item{background-color:#aaaaaa;border:1px solid #919191;}
.choices__list--dropdown{display:none;z-index:1;position:absolute;width:100%;background-color:#FFFFFF;border:1px solid #DDDDDD;top:100%;margin-top:-1px;border-bottom-left-radius:2.5px;border-bottom-right-radius:2.5px;overflow:hidden;word-break:break-all;}
.choices__list--dropdown.is-active{display:block;}
.is-open .choices__list--dropdown{border-color:#b7b7b7;}
.is-flipped .choices__list--dropdown{top:auto;bottom:100%;margin-top:0;margin-bottom:-1px;border-radius:.25rem .25rem 0 0;}
.choices__list--dropdown .choices__list{position:relative;max-height:300px;overflow:auto;-webkit-overflow-scrolling:touch;will-change:scroll-position;}
.choices__list--dropdown .choices__item{position:relative;padding:10px;font-size:14px;}
[dir="rtl"] .choices__list--dropdown .choices__item{text-align:right;}
@media (min-width:640px){.choices__list--dropdown .choices__item--selectable{padding-right:100px;}
.choices__list--dropdown .choices__item--selectable:after{content:attr(data-select-text);font-size:12px;opacity:0;position:absolute;right:10px;top:50%;transform:translateY(-50%);}
[dir="rtl"] .choices__list--dropdown .choices__item--selectable{text-align:right;padding-left:100px;padding-right:10px;}
[dir="rtl"] .choices__list--dropdown .choices__item--selectable:after{right:auto;left:10px;}
}
.choices__list--dropdown .choices__item--selectable.is-highlighted{background-color:#f2f2f2;}
.choices__list--dropdown .choices__item--selectable.is-highlighted:after{opacity:.5;}
.choices__item{cursor:default;}
.choices__item--selectable{cursor:pointer;}
.choices__item--disabled{cursor:not-allowed;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;opacity:.5;}
.choices__heading{font-weight:600;font-size:12px;padding:10px;border-bottom:1px solid #f7f7f7;color:gray;}
.choices__button{text-indent:-9999px;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0;background-color:transparent;background-repeat:no-repeat;background-position:center;cursor:pointer;}
.choices__button:focus{outline:none;}
.choices__input{display:inline-block;vertical-align:baseline;background-color:#f9f9f9;font-size:14px;margin-bottom:5px;border:0;border-radius:0;max-width:100%;padding:4px 0 4px 2px;}
.choices__input:focus{outline:0;}
[dir="rtl"] .choices__input{padding-right:2px;padding-left:0;}
.choices__placeholder{opacity:.5;}
input,
button{font-family:'Oxanium', sans-serif;}
*{box-sizing:border-box;}
.s130{min-height:100%;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;font-family:'Oxanium', sans-serif;background-image:url("../images/arkaplan.webp");background-position:bottom right;background-repeat:no-repeat;background-size:100%;padding:15px;height:100%;}
.s130 form{width:100%;max-width:790px;padding-top:5vh;}
.s130 form .inner-form{display:-ms-flexbox;display:flex;width:100%;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.15);border-radius:34px;overflow:hidden;margin-bottom:30px;}
.s130 form .inner-form .input-field{height:68px;}
.s130 form .inner-form .input-field input{height:100%;background:transparent;border:0;display:block;width:100%;padding:10px 0;margin-top:6px;font-size:14px;color:#000;}
.s130 form .inner-form .input-field input.placeholder{color:#222;font-size:16px;}
.s130 form .inner-form .input-field input:-moz-placeholder{color:#222;font-size:16px;}
.s130 form .inner-form .input-field input::-webkit-input-placeholder{color:#222;font-size:16px;}
.s130 form .inner-form .input-field input:hover, .s130 form .inner-form .input-field input:focus{box-shadow:none;outline:0;}
.s130 form .inner-form .input-field.first-wrap{-ms-flex-positive:1;flex-grow:1;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;background:#fdfdfd;}
.s130 form .inner-form .input-field.first-wrap input{-ms-flex-positive:1;flex-grow:1;}
.s130 form .inner-form .input-field.first-wrap .svg-wrapper{min-width:80px;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;}
.s130 form .inner-form .input-field.first-wrap svg{width:36px;height:36px;fill:#222;}
.s130 form .inner-form .input-field.second-wrap{min-width:216px;}
.s130 form .inner-form .input-field.second-wrap .btn-search{height:100%;width:100%;white-space:nowrap;font-size:16px;color:#fff;border:0;cursor:pointer;position:relative;z-index:0;background:#e4e4e4;transition:all .2s ease-out, color .2s ease-out;font-weight:300;}
.s130 form .inner-form .input-field.second-wrap .btn-search:focus{outline:0;box-shadow:none;}
.s130 form .info{font-size:14px;color:#6b6b6b;text-align:center;display:block;text-transform:none;word-spacing:1px;font-weight:500;}
@media screen and (max-width:992px){.s130 form .inner-form .input-field{height:50px;}
}
@media screen and (max-width:767px){.s130 form .inner-form .input-field.first-wrap .svg-wrapper{min-width:40px;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;padding:0 10px;}
.s130 form .inner-form .input-field.first-wrap svg{width:26px;height:26px;fill:#222;}
.s130 form .inner-form .input-field.second-wrap{min-width:100px;}
.s130 form .inner-form .input-field.second-wrap .btn-search{font-size:13px;}
}

h2{text-align:center;font-size:42px;}
h5{font-size:20px;line-height:110%;margin:15px;font-family:Oxanium;}
.youtuber-logo-alan{text-align:center;}
.ana-baslik{margin:255px 0px 0px 0px;font-size:45px;letter-spacing:-2px;color:#4a4a4a;text-transform:lowercase;text-align:center;}
form::after{display:none;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{border:1px solid green;-webkit-text-fill-color:#313131;-webkit-box-shadow:0 0 0px 1000px #fff inset!important;transition:background-color 5s ease-in-out 0s!important;font:'Oxanium', sans-serif;}
.s130 form .inner-form .input-field.second-wrap .btn-search:hover{background:#d40000;color:white;transition:500ms;}
@media (max-width:768px){.s130{background-size:auto;}
}
@media screen and (max-width:768px){.s130 form .inner-form .input-field.first-wrap .svg-wrapper{min-width:66px;}
}
@media screen and (max-width:767px){.s130 form .inner-form .input-field.second-wrap{min-width:72px;}
}
@media screen and (max-width:992px){.s130 form .inner-form .input-field{height:48px;}
}
@media screen and (max-width:768px){.s130 form .inner-form .input-field input{font-size:11px;margin:0px 0px 1px -7px;}
}
h6{font-size:1.25rem;line-height:110%;margin:1.766667rem 0 0.66rem 0;}
.youtuber-logo-alan::before{content:"";display:table;clear:both;}
.dolar-icon{width:25px;position:absolute;}
@media (max-width:720px){.mobil{font-size:14px;position:relative;}
}
@media (min-width:320px) and (max-width:360px){.mobil{font-size:10px;position:relative;font-weight:500;}
}
@media (min-width:361px) and (max-width:410px){.mobil{font-size:12.5px;position:relative;font-weight:500;}
}
@media (min-width:736px) and (max-width:1024px){.mobil{font-size:25px;}
}
input::placeholder{color:#4c4c4ce0!important;font-size:14px!important;font-style:italic;}
.redlight{position:relative;display:inline;width:130px;}
.no-margin{margin:0px 0px -20px 0px;}
@media (max-width:720px){.no-margin{font-size:25px;}
}
@media (max-width:720px){.redlight{position:relative;display:inline;width:80px;}
}
@media (max-width:720px){#thumbnail{border-radius:50%;margin-top:0px;padding:3px;box-shadow:0px 10px 0px -6px #00000014;width:160px;}
}
.renk{color:#3a0202d1;font-style:italic;font-weight:bold;}
.line-1{margin:0 auto;border-right:5px solid rgba(255,255,255,.75);font-size:180%;text-align:center;white-space:nowrap;overflow:hidden;}
.anim-typewriter{animation:typewriter 4s steps(90) 1s 1 normal both,
blinkTextCursor 500ms steps(100) infinite normal;}
@keyframes typewriter{from{width:0;}
to{width:39em;}
}
@keyframes blinkTextCursor{from{border-right-color:rgba(255,255,255,.75);}
to{border-right-color:transparent;}
}
.kanalid{font-size:44px;margin-top:28px;color:#4a4a4a;}
@media (max-width:480px){.kanalid{font-size:18px;}
}
#response{text-align:center;position:relative;display:table;}
.birikisaniye{position:relative;font-size:14px;padding:0px;color:#d51d1d;margin-top:-60px;}
.kopyala{padding:15px;margin:50px;cursor:pointer;border-radius:10px;border-color:#b3b3b394;background:#f1f1f1c4;color:#737373;text-transform:capitalize;font-family:'Oxanium', sans-serif;margin-top:70px;}
.kopyala:focus{outline:none;background-color:#4cde01a3;border:none;-webkit-transition:background-color 2s ease-out;-moz-transition:background-color 2s ease-out;-o-transition:background-color 2s ease-out;transition:background-color 1s ease-out;color:white;}
.copyokey{font-size:12px;margin:15px 5px 0px 5px;font-weight:500;text-transform:uppercase;letter-spacing:0.4px;}
.sag-kose{position:absolute;text-align:center;bottom:0.1px;padding:10px 0px 8px;border-radius:20px 20px 0px 0px;color:#ff0000fc;font-weight:500;}
.sag-kose:hover{transition:200ms;transition:300ms;color:white;}
@media screen and (max-width:1366px){.s130{background-size:auto;}
}
@media screen and (max-width:1366px){.s130{background-size:cover;}
}
.renk2{color:#332f2f;padding:15px 34px 10px;cursor:pointer;}
.giticon{font-size:20px;padding-left:8px;top:5px;position:relative;}
@media screen and (max-width:768px){.s130 form .info{white-space:normal;animation:none;border:none;}
}
@media screen and (max-width:420px){.sag-kose{padding:0px 0px 8px 0px;font-size:0px;}
}
@media screen and (max-width:420px){.renk2{color:#332f2f;padding:15px 30px 11px;}
}
@media (max-width:720px){h6{font-size:14px;}
}
@media (max-width:832px){.ana-baslik{margin:60px 0px 5px 0px;font-size:24px;letter-spacing:-2px;color:#4a4a4a;text-transform:lowercase;}
}
.demo-toggle-title{margin-top:0.5rem;}
.top-bar{width:100%;}
.menu .active{font-weight:bold;}
a.dfn-hover{color:#333;text-decoration:none;}
dfn{cursor:help;position:relative;}
dfn::after{content:attr(data-info);display:inline;position:absolute;top:22px;left:0;opacity:0;width:108px;font-size:10px;font-weight:500;line-height:1.5em;padding:0.5em 0.8em;background:rgba(0,0,0,0.8);color:#fff;pointer-events:none;transition:opacity 250ms, top 250ms;}
dfn::before{content:'';display:block;position:absolute;top:12px;left:7px;opacity:0;width:0;height:0;border:solid transparent 5px;border-bottom-color:rgba(0,0,0,0.8);transition:opacity 250ms, top 250ms;}
dfn:hover{z-index:2;}
dfn:hover::after,
dfn:hover::before{opacity:1;}
dfn:hover::after{top:28px;}
dfn:hover::before{top:18px;}
@media screen and (max-width:768px){.margin-bottom30{display:none;}
}
.renk2:hover{color:white;}
.sosyal-icon{width:25px;}
.navbar{display:flex;justify-content:center;flex-direction:row;align-items:center;border-radius:80px;padding-left:0px;}
.navbar li{list-style-type:none;margin:0 20px;position:relative;font-size:20px;transition:color 0.5s;}
.navbar li:hover{cursor:pointer;opacity:0.8;}
.ytp-cued-thumbnail-overlay-image{background-size:512px 100%!important;}